body {
  background-color:#f7c22e;
}

.color-container {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 21px;
  font-size: 20px;
  margin-left: 21px;
  color: rgb(255, 252, 252);
  font-weight: bold;
  font-variant: small-caps;
  font-family: 'Montserrat', sans-serif;
}

.color-box {
  margin-left: 8px;
  width: 50px;
  height: 30px;
  border-radius: 6px;
  border: 2px solid rgb(255, 255, 255);
}

.ticker-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ticker {
  white-space: nowrap;
  font-size: 550px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-variant: small-caps;
  letter-spacing: 20px;
  color: transparent; 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  background-clip: text; 
  animation: ticker-text-animation 10s linear infinite;
}

.ticker::before {
  content: attr(data-text); 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; 
  background-image: url('background-image0.png');
  background-repeat: repeat-x; 
  background-size: auto 100%; 
  -webkit-background-clip: text; 
  background-clip: text; 
  animation: ticker-bg-animation 20s linear infinite;
  
}


.input-container {
  position: absolute;
  top: 4%;
  left: 50px;
  right: 0;
  margin: auto;
  width: 30%; 
  text-align: center; 
  border-radius: 6px;
  z-index: 2;
}

.input-container input {
  height: 35px;
  width: 100%; 
  padding-left: 15px; 
  padding-right: 15px;
  font-size: 16px; 
  border-radius: 6px;
  border: none;
  z-index: inherit;
}


@keyframes ticker-text-animation {
  0% {
    transform: translateX(100%);

  }
  50% {
    transform: translateX(0%);

  }
  100% {
    transform: translateX(-100%);

  }
}

@keyframes ticker-bg-animation {
  0% {

    background-position: 0% 0%;
  }
  50% {

    background-position: 50% 50%;
  }
  100% {

    background-position: 100% 100%;
  }
}




